/* Custom styles for the FullCalendar component */

/* Styles for the prev and next buttons */
.fc-prev-button,
.fc-next-button {
  background-color: #e2e8f0; /* Set custom background color */
  color: #000000; /* Set custom icon color */
  font-size: 14px; /* Set custom font size */
}

/* Style for the title */
.fc-toolbar-title {
  font-size: 18px; /* Set custom font size for the title */
}
.fc-prev-button .fc-button .fc-button-primary{
  background-color: blue;
}

/* Media query to adjust styles for smaller screens */
@media (max-width: 768px) {
  /* Decrease font size for the title */
  .fc-toolbar-title {
    font-size: 16px;
  }
  
  /* Decrease font size for the prev and next buttons */
  .fc-prev-button,
  .fc-next-button {
    font-size: 12px;
  }

}
