@tailwind base;
@tailwind components;
@tailwind utilities;


.map-responsive {
    overflow: hidden;
    padding-bottom: 30%;
    position: relative;
    height: 0;
}

.map-responsive iframe{
    left:0;
    top:0;
    border:0;
    height: 100%;
    width: 100%;
    position: absolute;
    
}